n8n/taiwanlife-monitor.workflow.json
{
  "name": "台灣人壽官網巡檢排程",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "ScheduleTrigger",
      "name": "每12小時巡檢",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -620,
        0
      ]
    },
    {
      "parameters": {
        "command": "set -e\ncd \"${MONITOR_WORKDIR:-/opt/taiwanlife-monitor}\"\n\"${MONITOR_PYTHON_BIN:-python}\" -m taiwanlife_monitor.monitor --config \"${MONITOR_CONFIG:-config/taiwanlife.json}\" --output-dir \"${MONITOR_OUTPUT_DIR:-reports}\" --scheduler n8n --fail-exit-code"
      },
      "id": "RunPythonMonitor",
      "name": "執行 Python 巡檢",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -360,
        0
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "notes": "此 workflow 只負責排程與執行，不使用 n8n Email 節點。正式 Docker n8n 建議改用 SSH node 呼叫巡檢主機。"
    },
    {
      "parameters": {
        "jsCode": "const stdout = String($json.stdout ?? '');\nconst stderr = String($json.stderr ?? '');\nconst rawExit = $json.exitCode ?? $json.code;\nconst exitCode = rawExit === undefined || rawExit === null || rawExit === '' ? 0 : Number(rawExit);\nconst commandError = String($json.error?.message ?? $json.error ?? $json.message ?? '');\nconst lines = stdout.trim().split(/\\r?\\n/).map((line) => line.trim()).filter(Boolean);\nlet parsed = null;\nfor (let i = lines.length - 1; i >= 0; i--) {\n  try {\n    const candidate = JSON.parse(lines[i]);\n    if (candidate && typeof candidate === 'object') {\n      parsed = candidate;\n      break;\n    }\n  } catch (error) {}\n}\nconst toInt = (value) => Number.isFinite(Number(value)) ? Number(value) : 0;\nconst tail = (value, max = 2500) => {\n  const text = String(value ?? '');\n  return text.length > max ? text.slice(text.length - max) : text;\n};\nconst fallback = {\n  ok: false,\n  run_id: '',\n  target_name: '台灣人壽官網',\n  scheduler: 'n8n',\n  summary: { total: 0, pass: 0, warn: 0, fail: 1 },\n  problem_checks: [{ id: 'n8n-parse', name: 'n8n 解析 stdout', status: 'fail', detail: 'Python stdout 最後幾行找不到 JSON payload' }],\n  latest_json: '',\n  latest_md: '',\n  screenshots: [],\n  email_sent: false,\n  summary_text: 'Python stdout 最後幾行找不到 JSON payload',\n};\nconst payload = parsed || fallback;\nconst failCount = toInt(payload.summary?.fail);\nconst warnCount = toInt(payload.summary?.warn);\nconst nonZeroExit = Number.isFinite(exitCode) && exitCode !== 0;\nconst hasProblem = !payload.ok || failCount > 0 || warnCount > 0 || nonZeroExit || commandError.length > 0 || !parsed;\nreturn [{\n  json: {\n    ...payload,\n    should_notify_external: hasProblem,\n    alert_score: hasProblem ? 1 : 0,\n    command_exit_code: Number.isFinite(exitCode) ? exitCode : null,\n    command_error: commandError,\n    stdout_tail: tail(stdout),\n    stderr_tail: tail(stderr),\n  },\n}];"
      },
      "id": "ParseMonitorJson",
      "name": "解析巡檢 stdout",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        0
      ],
      "notes": "輸出 should_notify_external 供外部通知層使用；本 workflow 不寄信。"
    }
  ],
  "connections": {
    "每12小時巡檢": {
      "main": [
        [
          {
            "node": "執行 Python 巡檢",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "執行 Python 巡檢": {
      "main": [
        [
          {
            "node": "解析巡檢 stdout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Taipei",
    "executionTimeout": 900
  },
  "active": false,
  "versionId": "taiwanlife-monitor-run-only"
}
